/* ==================CSS Reseter============== */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}
/* ==============Css reseter============ */


body{
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/* * {
    box-sizing: border-box;
  } */


.logo {
    border-top: 2px solid #648880; 
    /* float: left; */
    font-size: 40px;
    font-weight: 100;
    line-height: 44px;
    padding: 30px 0 22px 0;
    text-transform: uppercase;
    
}

.right{
    position: absolute;
    display: inline-block;
    right: 35px;
    top: 15px;
}
/* 
        ===============
            Button
        ==============
*/
.btn{
    background: #293f50;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
}
.btn:hover{
    background: #fff;
    color: #648880;
}
.popup {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background-color: #314b60; 
    
}
.close {
    max-width: 6%;
    height: auto;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}
.popup-content input{
    margin: 20px auto;
    display: block;
    width: 40%;
    padding: 8px;
    border: 1px solid black ;
    
}
/* 
==============Navigation Bar==============
*/
.navigat{
   text-align: center;
}
.nav ul{
    
    display: inline-block;
}
.navbar li{
    align-items: center;
    text-transform: capitalize;
    font-size: 24px;
    display: inline-block;
    margin: 0 auto;
    
    
    /* margin-top: 50px;  */
    
    
}
.navbar li a {
    display: block;   
    margin: 15px auto;
    background: #395870;
    color: white;
    /* background: linear-gradient(#49708f, #293f50); */
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: 12px 20px;
    text-decoration: none;
    
}
.navbar li a:hover{
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navbar li:first-child a {
    border-radius: 4px 0 0 4px;
}
.navbar li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}


/* 
==========Typography=========
*/
h1, h2, h3, h4 {
    color: #648880;
  }
.header a{

    color: white;
    text-decoration: none;
}
.footer a{
    color: white;
}
.header a:hover{
    color: #648880;
}
h2{
    line-height: 44px;
}




/* ==============container========== */

.container{
        color: white;
        line-height: 44px;
        padding: 80px 0px 0px 0px;
        text-align: center;
}
.container h2{
    font-size: 28px;
}
.container p{
    font-size: 20px;
}
.container{
    margin: 0 auto;
    width: 750px;
}
/* .container{
    padding-left: 30px;
    padding-right: 30px;
} */

footer{
    color: white;
}
footer a{
    border: 1px solid #fff;
    color:white;    
}
footer a:hover{
    background: #314b60;
    color: white;
}