/* ==================CSS Reseter============== */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */


 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} 
 body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
} 
/* ==============Css reseter============ */


body{
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
* {
    box-sizing: border-box;
  }


.logo {
    float: left;
    border-top: 4px solid #648880; 
    font-size: 40px;
    font-weight: 100;
    line-height: 44px;
    padding: 30px 0 22px 0;
    text-transform: uppercase;
}


.right{
    position: absolute;
    display: inline-block;
    right: 35px;
    top: 15px;
}
/* 
        ===============
            Button
        ==============
*/
.btn{
    background: #293f50;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
}
.btn:hover{
    background: #fff;
    color: #648880;
}

/* login code */
.popup {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background-color: #314b60; 
    
}
.popup-content input{
    margin: 20px auto;
    display: block;
    width: 60%;
    padding: 8px;
    border: 1px solid black ;
    
}
/* signip code */
.popup2{
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content2{
    height: 480px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background-color: #314b60;
    display: block;
}
.popup-content2 input{
    margin: 20px auto;
    display: block;
    width: 60%;
    padding: 8px;
    border: 1px solid black ;
}
.close {
    max-width: 6%;
    height: auto;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}
/* ============================Drop Down Menu========================== */
 .sub-menu{
     position: absolute;
     left: -999em;
     margin-left: 20px;

} 
.sub-menu ul{
    position: relative;
    display: block;
    z-index: 1;
}
.sub-menu ul li a{
    /* width: 95%; */
    font-size: 15px;
}

/* ======================SlideShow================== */

.mySlides{
    display: none;
}

.slide-content .child-Btn .display-right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
.slide-content .child-Btn .display-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.slide-section{
    width: 100%;
    max-width: 800px;
    height: auto;
}

.slide-content img{
    position: absolute;
    width: 100%;
    height: 100%;

}

/* .slider-show{
    position: fixed;
    box-sizing: border-box;
    width: 90%;
    height: 300px;
    margin: 70px auto;
    overflow: hidden;
}
.slide-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
 img{
    z-index: -99;
}
.bar{
    width: 60px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0%;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
} */


/*
==============Navigation Bar==============
*/
.navigat{
    clear: left;
    text-align: center;
}
nav ul{
    
    display: inline-flex;
    list-style: none;
} 

.navbar li{
    align-items: center;
    text-transform: capitalize;
    font-size: 24px;
    /* margin-top: 50px;  */
    
}
.navbar li a {
    display: block;   
    margin: 1px auto;
    background: #395870;
    color: white;
    /* background: linear-gradient(#49708f, #293f50); */
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: 12px 20px;
    text-decoration: none; 
}



 .navigat ul li :hover{
    background: #314b60;
    color: #648880;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigat ul li:hover .sub-menu {
    left: auto;
}
.navbar li:first-child a {
    border-radius: 4px 0 0 4px;
}
.navbar li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}





/* 
==========Typography=========
*/
h1, h2, h3, h4 {
    color: #648880;
  }
.header a{
    color: white;
    text-decoration: none;
}
.footer a{
    color: white;
}
.header .logo a:hover{
    color: #648880;
}
h2{
    line-height: 44px;
}




/* ==============container========== */

.container{
    color: white;
    line-height: 44px;
    padding: 80px 0px 0px 0px;
    width: 750px;
    text-align:center;

}
.container h2{
    font-size: 28px;
}
.container p{
    font-size: 20px;
}

/* .container{
    padding-left: 30px;
    padding-right: 30px;
} */

footer{
    position: fixed;
    display: block;
    bottom: 0px;
    color: white;
    width: 100%;
}
footer a{
    border: 1px solid #fff;
    color:white;    
}
footer a:hover{
    background: #314b60;
    color: white;
}

/* ===================== social links============= */
.social-link{
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    margin-left: 1050px;
}
.social-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #2980b9;
    overflow: hidden;
    position: relative;
}
.social-btn i{
    line-height: 50px;
    font-size: 23px;
    margin-left: 14px;
    transition: 0.2s linear;
}
.social-btn i:hover{
    transform: scale(1.3);
}
